body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin-left: 255px;
  position: relative;
}

.sidebar {
height: 100%;
width: 150px;
position: fixed;
z-index: 100

}

.darkbutton{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

.toggle-button {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button.on {
  color: #fff;
}

.toggle-button.off {
  background-color: #fff;
  color: #333;
}
