body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  padding-left: 300px;
  position: relative;
  padding-right: 300px;
  padding-bottom: 200px;
}

.sidebar {
height: 100%;
width: 150px;
position: fixed;
z-index: 100

}

.gradient-gray-to-black {
  background: linear-gradient(to left, #A080B7, #8B3C7F)
}

.text-outline {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.custom-toggle .react-toggle-track {
  background-color: #afadad;
}

.game-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.bold-card {
  border-width: 2px; 
  border-color: black;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-custom {
  box-sizing: border-box;
  width: calc(80% - 15px);
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .card-custom {
    width: calc(30% - 20px);
  }
}

@media (min-width: 1024px) {
  .card-custom {
    width: calc(20% - 20px);
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .card-custom {
    width: 100%;
    padding: 10px;
  }
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Set your desired background color */
  padding: 10px; /* Set your desired padding */
}

.navbar-content {
  max-width: 600px; /* Set your desired max width */
  width: 100%;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #8B3C7F;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* For Firefox */
* {
  scrollbar-color: #8B3C7F #f0f0f0;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8B3C7F;
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

body {
  overflow-y: scroll;
}
