body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin-left: 255px;
  position: relative;
}

.sidebar {
height: 100%;
width: 150px;
position: fixed;
z-index: 100

}

.darkbutton{
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}

.toggle-button {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.toggle-button.on {
  color: #fff;
}

.toggle-button.off {
  background-color: #fff;
  color: #333;
}

.game-image {
  width: 100%;  
  height: 200px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 100%;
}

.card-custom {
  box-sizing: border-box;
  width: calc(80% - 15px);
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .card-custom {
    width: calc(30% - 20px);
  }
}

@media (min-width: 1024px) {
  .card-custom {
    width: calc(20% - 20px);
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .card-custom {
    width: 100%;
    padding: 10px;
  }
}
